* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.main {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 150%;
}

.bavaria {
    display: grid;
    padding: 50px;
}

.send {
    text-align: center;
}

.box1{
    margin-left: 10px;
    margin-top: 50px;
}

.box2{
    margin-left: 200px;
    margin-top: 50px;
}
.highlighted-doses {
    background-color: rgb(80, 206, 75);
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }
.red-dose {
    background-color: rgb(180, 28, 28);
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.goodstatus {
    background-color: rgb(80, 206, 75);
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }
body{
    background-color : #90a8eb; 
    }
    body::after {
      content: "";
      background: url(../assets/images/backgroundBav.jpg);
      opacity: 0.1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: fixed;
      z-index: -1;   
    }