* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.main {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 150%;
}

.bavaria {
    display: grid;
    padding: 50px;
}

.send {
    text-align: center;
}

.box1{
    margin-left: 10px;
    margin-top: 50px;
}

.box2{
    margin-left: 200px;
    margin-top: 50px;
}
