* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
.main {
    margin-top: 10px;
}

.return {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 120%;
}

.fda {
    display: flex;
    padding: 50px;
}
.highlighted-doses {
    background-color: rgb(80, 206, 75);
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }
.red-dose {
    background-color: rgb(177, 84, 84);
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.goodstatus {
    background-color: rgb(80, 206, 75);
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }
body{
    background-color : #857272; 
    }
    body::after {
      content: "";
      background: url(../assets/images/backgroundFDA.jpg);
      opacity: 0.1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: fixed;
      z-index: -1;   
    }
    .pie-chart-container {
        margin-top: 20px;
        text-align: center;
      }
      