* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

.main {
    margin-top: 10px;
}

.h1 {
    margin-bottom: 20px;
}
.add {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.format {
    margin-bottom: 30px;
}

.update {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    
}

.updateColumnForm {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    float: right;
    margin-right: 30px;
    width: 20px;
    position: relative;
}

.patientsList {
    display: flex;
    padding: 50px;
}

.patientsGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-auto-rows: auto;
    column-gap: 1px;
    color: antiquewhite;
}

.spanClass 
{
   display:block;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .return {
      margin-top: 10px;
      margin-left: 30px;
  }
  
  .patientName {
      margin-bottom: 10px;
  }
  .patientPicture {
      margin-bottom: 10px;
  }
  .dob {
      margin-bottom: 10px;
  }
  .insuranceNumber {
      margin-bottom: 10px;
  }
  .height {
      margin-bottom: 10px;
  }
  .weight {
      margin-bottom: 10px;
  }
  .bloodPressure {
      margin-bottom: 10px;
  }
  .temperature {
      margin-bottom: 10px;
  }
  .oxygenSaturation {
      margin-bottom: 10px;
  }
  .uuid {
      margin-bottom: 10px;
  }
  .address {
      margin-bottom: 10px;
  }
  .currentMedications {
      margin-bottom: 10px;
  }
  .familyHistory {
      margin-bottom: 10px;
  }
  .currentlyEmployed {
      margin-bottom: 10px;
  }
  .currentlyInsured {
      margin-bottom: 10px;
  }
  .icdHealthCodes {
      margin-bottom: 10px;
  }
  .Allergies {
      margin-bottom: 10px;
  }
  .highlighted-doses {
    background-color: rgb(80, 206, 75);
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }
.red-dose {
    background-color: rgb(177, 84, 84);
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.goodstatus {
    background-color: rgb(80, 206, 75);
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }
  .container1{
    padding: 2px 16px;
  }
  
  .status {
    &.open:before {
      background-color: #94E185;
      border-color: #78D965;
      box-shadow: 0px 0px 4px 1px #94E185;
    }
  
    &.in-progress:before {
      background-color: #FFC182;
      border-color: #FFB161;
      box-shadow: 0px 0px 4px 1px #FFC182;
    }
    
    &.dead:before {
      background-color: #C9404D;
      border-color: #C42C3B;
      box-shadow: 0px 0px 4px 1px #C9404D;
    }
  
    &:before {
      content: ' ';
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 10px;
      margin-bottom: 3px;
      margin-top: 3px;
      border: 1px solid #000;
      border-radius: 7px;
    }
  }