* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.main {
    margin-top: 10px;
}

.add {
    text-align: center;
}

.patientsList {
    display: flex;
    padding: 50px;
}

.spanClass 
{
   display:block;
}
.goodstatus {
    background-color: rgb(80, 206, 75);
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }